@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

$backgroundColor: #F8F8FF;

body {
  background-color : $backgroundColor;
}

.searchBar {
	button {
		margin-left: 5px;
	}
}

.errorMsg{
	margin-top: 15px;
}

.item-msg {
	text-align: center;
}

.item-view-more {
	text-align: center;
	cursor: pointer;
}

.item {
	min-height: 70px;
	a{
		color: black;
	}
	.item-content{
		display: block;
		margin-left: 58px;
		.screenName {
			margin-left: 5px;
		}
		p {
			margin: 0;
			display: block;
			line-height: 100%;
		}
	}

	.avatar{
		display: block;
		float: left;
		width: 48px;
  	height: 48px;
  	border-radius: 5px;
	}
}